---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'

//const title = 'YINI: Clean, human-friendly configuration format.'
//const description =
;('INI-inspired config with cleaner structure, richer syntax, simple rules.')
//const header = 'YINI — Clean, human-friendly configuration format.'
---

<BaseLayout
    headTitle="YINI: Clean, human-friendly configuration format"
    headDescription="INI-inspired config with cleaner structure, richer syntax, simple rules."
>
    <h1>Welcome to YINI</h1>
    <p>Clean, human-friendly configuration format.</p>
    <p>
        YINI is designed to be a lightweight, human-friendly configuration
        format — aims to be simpler than YAML, but more expressive than INI.
    </p>
</BaseLayout>
