---
import Markdown from '@/content/YINI-Specification.md'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
    headTitle={'Specification: YINI'}
    headDescription={'Specification for the YINI config format.'}
>
    ---

    <section class="spec prose prose-slate dark:prose-invert">
        <Markdown />
    </section>
</BaseLayout>
